{% extends "base.html" %}

{% block title %}Producer Signup{% endblock %}

{% block content %}
<h1>Producer Signup</h1>

<form action="/producer-signup" method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label for="full_name">Full name:</label>
    <input type="text" id="full_name" name="full_name" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="farm_name">Farm name:</label>
    <input type="text" id="farm_name" name="farm_name" required><br><br>

    <label for="description">Farm description(Include methods and benefit of buying locally):</label>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" minlength="8" required><br><br>

    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" minlength="8" required><br><br>
    
    
    <p>Password requirements:</p>
    <ul>
        <li>Password must not be less than 8 characters</li>
        <li>Password must contain a special character (e.g., !@#$%^&*)</li>
    </ul>

    <p>Already have an account? <a href="/login">login</a></p>

    {% if errors %}
    <div style="color:red;">
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <p>Or <a href="/signup">signup</a> as a customer</p>

    {% endif %}


    <button type="submit">Signup as a Producer</button>
</form>

{% endblock %}